:root {
    /* Cores do projeto */
    --cor-proclen-green-light: #36B864;
    --cor-proclen-green-dark:#1a9344;
    --cor-proclen-green-dark2:rgb(1, 59, 1);
    --cor-proclen-white: #ffffff;
    --cor-proclen-gray:#4D4D4D;
    --cor-proclen-gray2:#858383;
    --cor-proclen-green-transparency:666666;

    /* Tamanho de fonte do projeto */
    --font-size: 10px;
}
