/* div a {
    color: greenyellow
} */

/* div.div1 span,div.div2 span {
    color:blue;
} */


/* Seleção por classe */
/* Formatando a index */
/* .link {
     color:red;
     font-size: 10px;
     text-decoration: none;
    }
.service{
    color: green;
    font-size: 10px;
    text-decoration: none;
}

/* Seleção por id */
/*#blog{
    color:rgb(165, 38, 97);
    font-size: 10px;
    text-decoration: none;
} */

/* .menu{
    color:aqua;

} */

.logo{
    background-color: blue;
}

 .header{
    display: flex;
    justify-content: space-around;
} 

.item{
    background-color: purple;
    display: flex;
    justify-content: space-around;
}

.get-a-quote{
    background-color: bisque;
 }


/* #item{
    color: greenyellow;
}
.item {
    color:red !important;
    text-decoration: none;
} */

/* Pseudo Class */

/* .item {
    color: purple;
    text-decoration: none;
}

.item:hover{
    color: blue;
    text-decoration: underline;
}

.item:active{
    color:green
} */