/* Formatando a index */

html {
    font-size: var(--font-size);
}

/* import font */
@font-face {
    font-family: sauce;
    src: url(../fonts/pepper-sauce.ttf);
}
.clean-content{
    border:#000000 1px solid;
    margin: auto;
}



h1{
    font-size: 38px;
}

/* Reset configurações aplicadas pelo browser */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 90%;
    margin: auto;
}

.menu{
    width: 35%;
}

.menu-itens {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

/* Menu header */
.item {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: var(--cor-proclen-gray);
    font-size: 1.6rem;
    font-family: PlayfairDisplay;
    font-weight: 700;
}

.active {
    color: var(--cor-proclen-green-light);
}

/* .item:hover {
    background-color: aqua;
} */

.menu-itens li {
    margin: 1px;
}

.btn-green {
    background: linear-gradient(var(--cor-proclen-green-light), rgba(46, 241, 69, 0.696));
    border: transparent;
    color: var(--cor-proclen-white);
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: sauce;
    width: 159px;
    line-height: 18px;
    text-align: center;
    min-height: 10px;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px #000000;
    text-decoration: none;
}

.btn-green2{
    background-color: var(--cor-proclen-green-transparency);
    border: black solid 1px;
    color: black;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: sauce;
    width: 159px;
    line-height: 18px;
    text-align: center;
    min-height: 10px;
    /* text-shadow: 1px 1px 1px #000000; */
    box-shadow: 1px 1px 1px #000000;
    text-decoration: none;
}
.btn-green2:hover{
    background-color: var(--cor-proclen-green-dark);
    text-shadow: -1px 1px 1px #000000;
    color:  var(--cor-proclen-white);
}

.btn-green:hover {
    background: linear-gradient( rgba(2, 255, 31, 0.696),var(--cor-proclen-green-dark));
    text-shadow: -1px 1px 1px #000000;
}

.logo{
    display: block;
    /* height: 150px;
    width: 150px;
    border: 1px #000000 solid; */
    /* border-radius: 50%; */
    height: auto;
}

/* Formatação da Main */
.main-clean {
    height: auto;
    background-image: url(../img/hero-iamge.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: 0 auto;

}

.content-main{
    width: 61%;
    font-family: sauce;
    padding: 65px 0 50px 110px
}

.content-main > p:nth-child(1){
    font-size: 1.6rem;
    color: var( --cor-proclen-green-dark2);
}
.content-main > p:nth-child(3){
    font-size: 1.6rem;
    color: var( --cor-proclen-gray2);
}

.content-buttons > a {
    display: block;
    margin-left: 5px;
}

.content-buttons {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    padding: 38px 0 0;
}

/* Section Service */
.header-service{
    display:flex;
    font-size: 2rem;
    justify-content: space-between;
}
.header-service > div{
    width: 40%;

}

.service-description{
    overflow-y: auto;
    /* Para renderizar no chrome e safary */
    -webkit-border-radius:50px;
    /* Renderiza para versões atuais */
    border-radius: 10px;
}

/* Media Query */
@media screen and (max-width: 600px){
    .menu {
        display:none;
    }
}

/* header {
    background-color: rgb(106, 104, 129);
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 5px #000000;
} */

/* Trabalhando com position - Criando uma modal */
/* .screen {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
} */

/* .sub-menu {
    display: none;
    position: absolute;
}

.ativa-menu:hover .sub-menu {
    display: block;
} */

/* #item {
    color: rgb(61, 43, 226);
}

.item {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a {
    color: rgb(9, 168, 20);
} */




/* Pseudo class */
/* .item {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

.item:hover {
    color: rgb(0, 21, 255);
    text-decoration: underline;
}

.item:active {
    color: rgb(68, 226, 0);
} */